# pip install -r requirements.txt

streamlit>=1.28.2

# base ----------------------------------------
matplotlib>=3.8.1
numpy>=1.26.2
opencv-python-headless>=4.8.1.78
Pillow >= 10.1
PyYAML>=6.0.1
scipy>=1.11.3
torch==2.1.1
torchvision>=0.16.1
tqdm>=4.41.0
click==8

# logging -------------------------------------
tensorboard>=2.15.1
# wandb

# plotting ------------------------------------
seaborn>=0.13.0
pandas

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
pycocotools>=0.1.1  # COCO mAP
